<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Coming Soon</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;subset=latin">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
  <!-- <link rel="stylesheet" href="assets/bootstrap-material-design-font/css/material.css">
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css"> -->
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="assets/dropdown/css/style.css"> -->
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/mobirise3-blocks-plugin/css/style.css">
  <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
  <style type="text/css">
    .modal-backdrop {
      display: none;
    }
  </style>
</head>
<body>
<%if(send){%>
  <script>
  alert("successfull registration");
    // $('#success').click();
  </script>
<%}%>

<section class="mbr-section mbr-section-hero mbr-section-full extHeader15 mbr-after-navbar" id="extHeader15-d" style="background-image: url(assets/images/mbr-1.jpg);">

    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(43, 6, 128);">
    </div>
        <div class="mbr-table-cell">
            <div class="container">

                    <div id="title">
                        <div class="mbr-figure image-size" style="width: 20%; font-size: 50px;">
                          <img src="logo.jpg" style="width: 200px;height: 200px; margin: 0 auto;margin-top: 50px;">
                        </div>
                        <div class="span-title">
                            <div class="span-title">
                              <!-- <span class="mbr-section-title display-2 text-center pad-r">OUR </span>
                              <span class="mbr-section-title display-2 element typedextHeader15-d" adress="typedextHeader15-d" firstel="EVENT" secondel="PRODUCT LAUNCH" thirdel="NEW APP" typespeed="60"></span><br> -->
                              <span class="mbr-section-title display-2 text-center pad-r" style="text-transform: uppercase;font-size: 42px">we are currently working on an awesome new site</span>             
                            </div>
                        </div>

                        <div class="mbr-section-text lead text-center">
                            <p><span style="font-style: normal;">Event Management I Logistic Management I Artist Management I Celebrity Endorsement <br> Production Resourcing I Public Relation I Corporate Activation I Conceptualizing & Planning</span></p>
                            <p><span style="font-style: normal;font-weight: 600">India | Overseas</span></p>
                        </div>
                    </div>

                    <div class="form_wraper" data-form-type="formoid" style="text-align: center;">
                      <a href="#myModal" data-toggle="modal" style="border: 1px solid white;margin-right: 0px;" class="btn btn-primary">Connect</a>
                    </div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h4 class="modal-title">Welcome! Please Fill The Below Form</h4>
      </div>
      <div class="modal-body">
        <form action="/email" method="post" style="width: 100%; text-align: left;">
          <div class="col-lg-12">
            <div class="form-group"> 
              <label for="full_name_id" width="100%" >First Name</label>
              <input type="text" class="form-control" width="100%"  id="" name="fname" placeholder="Enter First Name" required />
            </div>
          <br>
          <div class="form-group"> 
            <label for="full_name_id" width="100%" >Last Name</label>
            <input type="text" class="form-control" width="100%"  id="" name="lname" placeholder="Enter Last Name" required />
          </div>
          <br>
          <div class="form-group"> 
            <label for="full_name_id" width="100%" >Email Id</label>
            <input type="text" class="form-control" width="100%"  id="" name="email" placeholder="Enter Email" required />
          </div>
          <br>
          <div class="form-group">  
            <label for="full_name_id" width="100%" >Phone No.</label>
            <input type="tel" class="form-control" width="100%" id="" name="phone" placeholder="Enter Phone No." required />
          </div>
          <br>
          <div class="form-group"> 
            <label for="full_name_id" width="100%" >Message</label>
            <input type="text" class="form-control" width="100%"  id="" name="message" placeholder="Enter Message" required />
          </div>
          <br>
          </div>
          <div class="col-lg-12 text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
     <!--  <div class="modal-footer">
        <button type="button" class="btn btn-default" id="dis" data-dismiss="modal">Close</button>
      </div> -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 

  <!-- second Modal -->
  <a href="#myMo" data-toggle="modal" id="success" style="display: none" class="btn btn-primary">Co</a>
  <div class="modal fade" id="myMo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
          <h4 class="modal-title">login complete</h4>
        </div>
        <div class="modal-body">
       You Have success fully login for this upcoming  event 

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal --> 

                     
</section>


  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <!-- <script src="assets/tether/tether.min.js"></script> -->
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <!-- <script src="assets/smooth-scroll/smooth-scroll.js"></script> -->
  <!-- <script src="assets/dropdown/js/script.min.js"></script> -->
  <!-- <script src="assets/touch-swipe/jquery.touch-swipe.min.js"></script> -->
  <script src="assets/typed/typed.min.js"></script>
  <!-- <script src="assets/countdown/jquery.countdown.min.js"></script> -->
  <script src="assets/theme/js/script.js"></script>
  <script src="assets/mobirise3-blocks-plugin/js/script.js"></script>
  <!-- <script src="assets/formoid/formoid.min.js"></script> -->
  
  
</body>
</html>